@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #555;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #eee;
  margin: 0;
  padding: 0;
}

.swiper {}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
